body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background-color: #ff6600;
    color: white;
}

.btn-primary:hover {
    background-color: #e65c00;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
}

.btn-danger:hover {
    background-color: #c9302c;
}


.navbar {
    background-color: #ffcc00;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffa500;
    border-radius: 15px; 
    margin: 10px;
}

.navbar h1 {
    color: rgb(49, 48, 48);
    margin: 0;
    font-weight: 700;
}


.content {
    display: flex;
    padding: 20px;
    gap: 20px;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    flex: 3;
}

.product {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.cart {
    background-color: #4a4a4a;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    color: white;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group li {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.hidden {
    display: none;
}
